app-stocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header {
    background-color:#FFFCDC;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a {
    padding-left: 5px;
    padding-right: 5px;
}



main {
    background-color: #EDD2F3;
    height: 100vh;
    padding: 15px;
}

table {
    margin: 5px;
}

td {
    margin: 5px;
    padding: 5px;
}

th {
    margin: 5px;
}
