<p>Click on a stock ticker to see full details</p>


<table mat-table [dataSource]="stocks" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Ticker Column -->
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let stock"> <a (click)=openStock(stock.id)>{{stock.ticker}} </a></td>
    </ng-container>

    <!-- Ticker Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let stock"> {{stock.price}} </td>
      </ng-container>

      <!-- Ticker Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let stock"> <button (click)="deleteStock(stock.id)">Delete</button> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<br />

<form>
    <input MatInput type="text" [(ngModel)]="newTicker" name="newTicker">
    <input MatInput type="number" [(ngModel)]="newPrice" name="newPrice">
    <input MatInput type="text" [(ngModel)]="newName" name="newName">
</form>

<button (click)="addStock()">Add Stock</button>